@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');
.box{
    width: 150px;
    height: 150px;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
