body{
    margin: 0;
}
header{
    height: 20vh;
    width: 100vw;
}
main{
    height: 59vh;
    width: 100vw;
    display: flex;
}
section{
    height: 59vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
}
section div{
    height: 19vh;
    width: 35vw;
}
article{
    height: 59vh;
    width: 75vw;
    display: flex;
}
#a_left{
    height: 59vh;
    width: 35vw;
}
#a_right{
    height: 59vh;
    width: 30vw;
}
footer{
    height: 21vh;
    width: 100vw;
}
