body{
    margin: 0;
}
header{
    height: 25vh;
    width: 97vw;
    margin: 10px;
}
div{
    height: 70vh;
    width: 97vw;
    margin: 0 10px 10px 10px;
    display: flex;
}
main{
    height: 70vh;
    width: 75vw;
}
article{
    height: 70vh;
    width: 24vw;
    margin: 0 0 0 10px;
}
.bloks{
    border: 1px solid #868686;
    border-radius: 12px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}