body{
    margin: 0;
    padding: 15px;
    height: 97vh;
    width: 97vw;
    display: grid;
    grid-template-areas:
    "header header"
    "main footer";
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-gap: 15px;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
div{
    display: none;
}
header, footer, main{
    border: 1px solid #868686;
    border-radius: 12px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
