@media screen and (max-width: 400px){
    div{
        grid-area: div;
        border: 1px solid #868686;
        border-radius: 12px;
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }
    body{
        grid-template-areas:
        "header header"
        "div div"
        "main footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
    }
}