@import url('https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap');
body{
    margin: 0;
}
.box{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#salmon{
    background-color: darksalmon;
}
#black{
    background-color: black;
    color: aliceblue;
}
h4{
    font-size: 2em;
    font-family: 'Victor Mono', monospace;
    margin-top: 0;
}
p{
    font-size: 1.4em;
    font-family: 'Victor Mono', monospace;
    margin: 2vh;
    padding: 0 5vw;
    text-align: center;
}